# Create secrets.sh on your local machine, but do not symlink
export ANTHROPIC_API_KEY="<your-key-here>"
export OPENAI_API_KEY="<your-key-here>"
export GEMINI_API_KEY="<your-key-here>"
export OPENCODE_API_KEY="<your-key-here>"
export BRAVE_API_KEY="<your-api-key-here>"
